@charset "UTF-8";

:root{
	--file-menu-height: 100px;
	--file-select-color: rgba(184,184,204,0.4);
}
	
#fileMenuContainer {
	margin-top: 100px;
	background-color: var(--bs-body-bg);
	z-index: 10;
}

#fileListContainer {
	margin-top: var(--file-menu-height);
}

#loadingList {
	opacity: 0;
	transition: all 3.0s;
}

#loadingList.act {
	opacity: 1.0;
	height: 30px;
}

.inactive {
	display: none;
}

.fileTable:hover {
	background-color: var(--file-select-color);
}

.fileTable.checked {
	background-color: var(--file-select-color);
}