@charset "UTF-8";

:root{
	--file-menu-height: 100px;
	--file-select-color: rgba(184,184,204,0.4);
}
	
#fileMenuContainer {
	margin-top: var(--file-menu-height);
	background-color: var(--bs-body-bg);
	z-index: 10;
}

#fileListContainer {
	margin-top: var(--file-menu-height);
}

#loadingList {
	opacity: 0;
	transition: all 3.0s;
}

#loadingList.act {
	opacity: 1.0;
	height: 30px;
}

#fileControlMenu {
	width: 200px;
	height: 400px;
	position: fixed;
	top: 20%;
	right: 50px;
	z-index: 20;
}

#keyword {
	color: var(--bs-body-color);
	background-color: var(--bs-form-control-bg);
}

.inactive {
	display: none;
}

.fileTable {
	table-layout : fixed ;
}

.fileTable:hover {
	background-color: var(--file-select-color);
}

.fileTable.checked {
	background-color: var(--file-select-color);
}