@charset "UTF-8";

a {
	text-decoration: none;
	color: var(--bs-body-color);
}

a:hover { text-decoration: underline; }

.pointer {
	cursor:pointer;
}

/*--------------- header start ---------------*/
#header {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	display:block;
	background: var(--bs-body-bg);
	-ms-overflow-style: none;
}
/*---------------- header end ----------------*/

/*---------------- wing start ----------------*/
#wing {
	position: fixed;
	z-index: 20;
	top: 100px;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100vh;
	display:block;
	background: var(--bs-body-bg);
	transform: translateX(0px);
	transition: 0.3s all ease;
	transition: 0.2s all;
	overflow-y: scroll;
	-ms-overflow-style: none;
}

#wing::-webkit-scrollbar {
	display: none;
	width: 0 !important;
}

@media (max-width: 767px){
	#wing {
		width: 300px;
		transform: translateX(-300px);
	}
	
	#wing.open {
		top: 0;
		transform: translateX(0px);
	}
	
	#wingMask {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		background: black;
		height: 100vh;
		opacity: 0.3;
	}
}

@media (min-width: 768px){
	#wing {
		width: 23%;
	}
}

#wingButton {
	position: fixed;
	z-index: 10;
	top: 150px;
	left: -32px;
	width:70px;
}

#theme-list {
	display: none;
}

#theme-list.show {
	display: block;
}
/*---------------- wing end ----------------*/

/*--------------- body start ---------------*/
#body {
	margin-top: 100px;
}
/*---------------- body end ----------------*/