<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="settingsMapper">
	<select id="getSettings" resultMap="SettingsResultMap" resultType="Settings">
		SELECT * FROM settings where
				type = #{type}
	</select>

	<resultMap type="Settings" id="SettingsResultMap">
		<id property="type" column="type" />
		<result property="externalUrl" column="external_url" />
	</resultMap>
	
</mapper>