<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.everycloud.service.mapper.SettingsMapper">
	<select id="getSettings" resultType="SettingsDTO">
		SELECT * FROM SETTINGS WHERE TYPE = #{type}
	</select>

	<select id="getMeta" resultType="SettingsDTO">
		SELECT META_TITLE, META_AUTHOR, META_DESCRIPTION, META_KEYWORDS, EXTERNAL_URL
			FROM SETTINGS
		WHERE TYPE = 'admin'
	</select>

</mapper>