<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.everycloud.service.mapper.ShareMapper">

	<select id="getShareList" resultType="ShareDTO">
		SELECT LINK, PATH, datetime(DATE, 'localtime') as DATE, METHOD, PASS, AUTH
			FROM SHARE
		WHERE PATH LIKE '%' || #{keyword} || '%'
	</select>

	<select id="getShareByLink" resultType="ShareDTO">
		SELECT LINK, PATH, datetime(DATE, 'localtime') as DATE, METHOD, AUTH
			FROM SHARE
		WHERE LINK = #{link}
	</select>

	<select id="getShareByPath" resultType="ShareDTO">
		SELECT LINK, PATH, datetime(DATE, 'localtime') as DATE, METHOD, AUTH
			FROM SHARE
		WHERE PATH = #{path}
	</select>

	<select id="getSharePassByLink">
		SELECT PASS FROM SHARE
		WHERE LINK = #{link}
	</select>

	<select id="getSharePassByPath">
		SELECT PASS FROM SHARE
		WHERE PATH = #{path}
	</select>

	<insert id="createShare" parameterType="ShareDTO">
		INSERT INTO SHARE VALUES (#{link}, #{path}, #{date}, #{method}, #{pass}, #{auth})
	</insert>

	<select id="getShareGroup" resultType="ShareGroupDTO" parameterType="HashMap">
		SELECT sg.SHARE_LINK, sg.GROUP_NO, gs.NAME as GROUP_NAME, sg.AUTH
			FROM SHARE_GROUP sg, GROUP_SETTING gs
			<where>
				<if test="shareLink != null and !shareLink.equals('')">
					sg.SHARE_LINK = #{shareLink}
				</if>
				<if test="groupNo != null and !groupNo.equals('')">
					AND sg.GROUP_NO = #{groupNo}
				</if>
				<if test="1==1">
					AND sg.GROUP_NO = gs.NO
				</if>
			</where>
	</select>

	<select id="getShareGroupList" resultType="ShareGroupDTO" parameterType="HashMap">
		SELECT sg.SHARE_LINK, gs.NO as GROUP_NO, gs.NAME as GROUP_NAME, sg.AUTH
			FROM GROUP_SETTING gs
			LEFT JOIN SHARE_GROUP sg
				ON gs.NO = sg.GROUP_NO and sg.SHARE_LINK = #{shareLink}
		ORDER BY GROUP_NAME
	</select>

</mapper>