<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.everycloud.service.mapper.ShareMapper">

	<select id="getShareByLink" resultType="ShareDTO">
		SELECT link, path, date, method, pass, auth
			FROM share
		WHERE link = #{link}
	</select>

	<select id="getShareByPath" resultType="ShareDTO">
		SELECT link, path, date, method, pass, auth
			FROM share
		WHERE path = #{path}
	</select>

	<insert id="createShare" parameterType="ShareDTO">
		INSERT INTO share VALUES (#{link}, #{path}, #{date}, #{method}, #{pass}, #{auth})
	</insert>

	<select id="getShareGroup" resultType="ShareGroupDTO" parameterType="HashMap">
		SELECT share_link, group_no, auth FROM share_group
			<where>
				<if test="shareLink != null and !shareLink.equals('')">
					share_link = #{shareLink}
				</if>
				<if test="groupNo != null and !groupNo.equals('')">
					AND group_no = #{groupNo}
				</if>
			</where>
	</select>

</mapper>