@charset "UTF-8";

a {
	text-decoration: none !important;
	color: var(--bs-body-color);
}

.pointer {
	cursor: pointer;
}

.text-gray {
	color: #8b8b8b;
}

.text-break-all {
	word-break: break-all;
}

/*--------------- header start ---------------*/
#header {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	z-index: 50;
	display:block;
	background: var(--bs-body-bg);
	-ms-overflow-style: none;
}
/*---------------- header end ----------------*/

/*---------------- wing start ----------------*/
#theme-list {
	display: none;
}

#theme-list.show {
	display: block;
}
/*---------------- wing end ----------------*/

/*--------------- body start ---------------*/
#body {
	margin-top: 101px;
}
/*---------------- body end ----------------*/