@charset "UTF-8";

:root{
	--file-menu-height: 100px;
	--file-select-color: rgba(184,184,204,0.4);
}
	
#fileMenuContainer {
	margin-top: var(--file-menu-height);
	z-index: 10;
}

#fileListContainer {
	margin-top: var(--file-menu-height);
}

#loadingList {
	opacity: 0;
	z-index: -10;
	height: 100vh;
	transition: all 1.5s;
}

#loadingList.act {
	opacity: 1.0;
	z-index: 25;
}

#fileControlMenu {
	width: 200px;
	position: fixed;
	top: 25%;
	right: 40px;
	z-index: 5;
	--bs-bg-opacity: 0.8;
}

#keyword {
	color: var(--bs-body-color);
	background-color: var(--bs-form-control-bg);
}

.inactive {
	display: none;
}

.fileTable {
	table-layout : fixed ;
}

.fileTable.checked {
	background-color: var(--file-select-color);
}

@media (pointer:none) {
	.fileTable:hover {
		background-color: var(--file-select-color);
	}
}